
{{> head }}
{{> navbar}}




<h1 style="text-align:center">Estás accesando al lugar más increíble de la red</h1>


<div class="row">
        <div class="col-3">
        <img src="assets/img/star-wars8.jpg" class="img-thumbnail" alt="Este es el ejemplo de un texto alternativo" style="max-width:100%;width:auto;height:auto;">
        <p style="text-align:justify max-width:100%;width:auto;height:auto;">
            Imagen captada en el medievo por un artista y se cruzo la nave: "Destructora de Estrellas"
        </p>
        </div>

        <div class="col-3">
        <img src="assets/img/star-wars6.jpg" class="img-thumbnail" alt="Este es el ejemplo de un texto alternativo" style="max-width:100%;width:auto;height:auto;">
        <p style="text-align:justify max-width:100%;width:auto;height:auto;">
            Aqui se aprecia a Darth Vader tomando un día de descanso en compañía de un Storm Trupper
        </p>
        </div>

        <div class="col-3">
        <img src="assets/img/star-wars18.jpg" class="img-thumbnail" alt="Este es el ejemplo de un texto alternativo" style="max-width:100%;width:auto;height:auto;" >
        <p style="text-align:justify max-width:100%;width:auto;height:auto;">
            Aqui se aprecia a un Storm Trupper con su bestia
        </p>
        </div>

        <div class="col-3">
        <img src="assets/img/star-wars2.jpg" class="img-thumbnail" alt="Este es el ejemplo de un texto alternativo" style="max-width:100%;width:auto;height:auto;" >
        <p style="text-align:justify max-width:100%;width:auto;height:auto;">
            Aqui se aprecia a BB8
        </p>
        </div>

    </div>








{{> foot}}