

{{> head}}



    {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido, estas entrando a la página web de: {{capitalizar nombre}}!</h1>
        <p class="lead">Bienvenido(a) a la mejor página web que existe en la red y en la DEEP WEB muajajaja </p>
        <hr class="my-4">
        <p>Este botón no sirve pa´nada, sólo está de adorno, ni le piques.</p>
        <p>Tampoco sirve el "Search", ni le piques.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Pa´saber más</a>
    </div>

 {{> foot}}